@tailwind base;
@tailwind components;
@tailwind utilities;

#app{
    height: 100vh;
}

.conversation-item .avatar.online:before ,
.conversation-item .avatar.offline:before {
    width: 8px;
    height: 8px;
    top: 1%;
    right: 1%;
}